<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ErDmKo home page{% endblock title %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://mc.yandex.ru" crossorigin>
        <meta name="google-site-verification" content="TFGFP-50qNSslG_4Sv7LHxG5vJdLtVeuh6zvZ2hAV1k" />
        <meta name="robots" content="max-image-preview:large"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Main page"/>
        <meta name="twitter:image" content="/static/img/avatar@2x.jpg"/>
        <meta name="twitter:image:alt" content="ErDmKo home page"/>
        <meta name="twitter:description" content="ErDmKo home index page"/>
        <meta property="og:type" content="article"/>
        <meta property="og:description" content="ErDmKo home index page">
        <meta name="og:image" content="/static/img/avatar@2x.jpg"/>
        <meta property="og:title" content="ErDmKo home page" />
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap"/>
        <link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico">
        <link 
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/img/apple-touch-icon.png"
        />
        <link 
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/img/favicon-32x32.png"
        />
        <link 
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/img/favicon-16x16.png"
        />
        <link 
            rel="manifest"
            href="/static/site.webmanifest"
        />
        <link 
            rel="mask-icon"
            href="/static/img/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <link 
            rel="stylesheet"
            href="/static/css/minified/style.css"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="{% block desc %}Main page{% endblock desc %}"/>
        <link
          media="print"
          onload="this.onload=null;this.removeAttribute('media');"
          href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap" 
          rel="stylesheet">
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block content %}{% endblock content %}
        <script async src="/static/js/mc.js"></script>
        <script>
          window.ym = (...args) => {
            window.ym.a = (window.ym.a || []);
            window.ym.a.push(args);
          };
          ym(64378813, "init");
        </script>
    </body>
</html>
