{% extends "inner.html" %}
{% block title %}Base 64 decode encode{% endblock title %}
{% block desc %}Simple online base64 decoder and encoder{% endblock desc %}
{% block inner_content %}
<section>
    <h1 id="header">Online base 64 convertor</h1>
    {% if result %}
    <div class="{{ css.result }}">
      <h3>Result</h3>
      <h2>"<span id="result">{{ result }}</span>"</h2>
      <div>
        <button id="copycat">Copy</button>
      </div>
    </div>
    {% endif %}
</section>
<section>
<form action="/base64" class="{{ css.big_form }}">
    <input 
        type="text"
        class="{{ css.big_input }}"
        value="{{ query }}"
        name="query"
        placeholder="Encode/Decode"/>
    <div class="{{ css.buttons }}">
        <button 
            name="action"
            value="encode"
            id="encode">Encode</button>
        <button
            name="action"
            value="decode"
            id="decode">Decode</button>   
    </div>
</form>
</section>
{% endblock inner_content %}
