{% extends "inner.html" %}
{% block title %}Image generator{% endblock title %}
{% block desc %}Image generator from promt{% endblock desc %}
{% block inner_content %}
<section>
    <h1 id="header">Image generator</h1>
    {% if error %}
    <div class="{{ css.result }}">
      <h3>Result</h3>
      <div>
        Error "{{ error }}"
      </div>
    </div>
    {% elif result %}
    <div class="{{ css.result }}">
      <h3>Result</h3>
      <img alt="query result" src="data:image/jpg;base64,{{ result }}"/>
      <div>
        <button id="copycat">Copy</button>
      </div>
    </div>
    {% endif %}
</section>
<section>
<form 
  class="{{ css.big_form }}"
  method="POST"
  action="/task">
    <input 
        type="text"
        class="{{ css.big_input }}"
        value="{{ promt | default(value="") }}"
        name="promt"
        placeholder="Image promt"/>
    <div class="{{ css.buttons }}">
        <button 
            name="action"
            value="generate"
            id="encode">Generate</button>
    </div>
    {% for task in prompts %}
    <div>
      <span>text = "{{ task.prompt }}"</span>
      <span>state = "{{ task.state }}"</span>
      {% if task.image %}
        <img src="{{ task.image }}" alt="{{ task.prompt }}" />
      {% endif %}
      <button name="delete" value="{{task.id}}">
        Delete
      </button>
    </div>
    {% endfor %}
</form>
</section>
{% endblock inner_content %}
