{% extends "inner.html" %}
{% block title %}Random number generator{% endblock title %}
{% block desc %}Simple online random number generator{% endblock desc %}
{% block inner_content %}
<section>
  <h1>Random generator<h1>
  {% if result %}
  <div class="{{ css.result }}">
    <h3>Result</h3> 
    <h2>"<span id="result">{{ result }}</span>"</h2>
    <div>
      <button id="copycat">Copy</button>
    </div>
  </div>
  {% endif %}
</section>
<section>
<form action="/random">
    <input
        type="text"
        class="{{ css.min }}"
        name="min"
        value="{{ min_val }}"
        placeholder="min value"/>
    <input
        type="text"
        class="{{ css.max }}"
        name="max"
        value="{{ max_val }}"
        placeholder="max value"/>
    <div class="{{ css.buttons }}">
      <button>Generate new val</button>
    </div>
</form>
</section>
{% endblock inner_content %}
