{% extends "inner.html" %}
{% block title %}Slugify string {% if result %}for "{{ result }}"{% endif %}{% endblock title %}
{% block desc %}Simple online slugify tool{% endblock desc %}
{% block inner_content %}
<section>
    <h1 id="header">Online string slugifier</h1>
    {% if result %}
    <div class="{{ css.result }}">
      <h3>Result</h3> 
      <h2>"<span id="result">{{ result }}</span>"</h2>
      <div>
        <button id="copycat">Copy</button>
      </div>
    </div>
    {% endif %}
</section>
<section>
  <form action="/slugify">
    <input 
      type="text"
      value="{{ query }}"
      name="query"
      class="{{ css.big_input }}"
      placeholder="Put here string to slugify"/>
    <div class="{{ css.buttons }}">
      <button>Slugify</button>
    </div>
  </form>
</section>
{% endblock inner_content %}
